<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps-sharp"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    @if (true) {
      <ion-tab-button tab="training">
        <ion-icon name="barbell-sharp"></ion-icon>
        <ion-label>Training</ion-label>
      </ion-tab-button>
    }

    @if (state.activeWorkoutProgramId()) {
      <ion-tab-button tab="log">
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>Log</ion-label>
      </ion-tab-button>
    }

    <ion-tab-button tab="trends">
      <ion-icon name="analytics-sharp"></ion-icon>
      <ion-label>Trends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
