@let exo = exercise();
@if (exo) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ exo?.name }}</ion-card-title>
      <ion-card-subtitle color="secondary"
        >{{ exo.sets.length }} sets of {{ exo.repsRange ?? 12 }} reps</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      @if (exo.bestSet) {
        <ion-card>
          <ion-card-content class="ion-display-flex ion-align-items-baseline gap">
            <ion-icon name="time-outline" color="secondary"></ion-icon>
            <ion-text color="medium">Best Session:</ion-text>
            <ion-text color="white">{{ exo.bestSet.reps }} reps &bull; {{ exo.bestSet.weight }} kg</ion-text>
          </ion-card-content>
        </ion-card>
      }
      <ion-textarea
        placeholder="Notes..."
        autoGrow="true"
        fill="outline"
        [(ngModel)]="exo.notes"
        class="ion-padding-bottom"
      ></ion-textarea>
      @for (set of exo.sets; track $index) {
        <exercise-set [hasHeader]="$index == 0" [set]="exo.sets[$index]" class="ion-margin-vertical"></exercise-set>
        @if ($index === currentSetIndex() && !exo.completed) {
          <rest-button
            [seconds]="exo.restTimeSeconds"
            [disabled]="!canStartRestTimer()"
            (changed)="onTimerChanged($event)"
          ></rest-button>
        }
      }
    </ion-card-content>
  </ion-card>
}
